.nav {
  display: flex;
  width: 100%;
  padding: 1rem;
  border-bottom: 2px solid rgb(143, 143, 255);
  background-color: rgb(176, 176, 251);
}

.nav__items {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type:none;
  font-size: 2em;
}

.active {
  text-decoration: underline;
  color: rgb(255, 146, 73);
}

.float-r {
  float: right;
}