* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('./cards_bg.png');
  width: 100%;
}

.container {
  width: 60%;
  margin: 3em auto;
  min-height: 32em;
  background-color: rgb(252, 139, 139);
  border: 1px solid black;
}

.draw__card__btn, .restart__btn {
  border: 0;
  border-radius: 1em;
  padding: 0.6em 1em;
  background-color: rgb(63, 185, 255);
  color: white;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 2em;
  font-size: 0.9em;
}

.hide {
  display: none;
}

.restart__btn {
  position: absolute;
  margin-top: 0;
  top: 0.6em;
  left: 5em;
}

.used__cards__btn {
  background-color: rgb(73, 255, 198);
  cursor: pointer;
  margin: 0.2em 0 0 0.2em;
}

.cardImg, .cardBackImg {
  width: 14em;
  display: block;
  margin: 1em auto;
}

.cardBackImg {
  margin-top: 5em;
}

.cardText {
  background-color: rgb(226, 89, 89);
  color: white;
  font-size: 1.6em;
  text-align: center;
  width: max-content;
  margin: auto;
  border-radius: 1em;
  padding: 0.2em;
  margin-top: 0.6em;
}

.drawPile {
  background-color: rgb(255, 88, 247);
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    min-height: 24em;
  }

  .draw__card__btn {
    font-size: 0.8em;
  }

  .cardImg, .cardBackImg {
    width: 10em;
  }

  .cardBackImg {
    margin-top: 3em;
  }

  .cardText {
    font-size: 1em;
  }
}